A
{
	font-size: 12px;
}
IMG
{
	border-top-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px;
}
TD.icon
{
	vertical-align: middle;
	width: 24px;
	height: 24px;
	text-align: center;
}
TD.sp
{
	vertical-align: middle;
	width: 8px;
	height: 24px;
	text-align: center;
}
TD.xz
{
	vertical-align: middle;
	width: 47px;
	height: 24px;
	text-align: center;
}
TD.bq
{
	vertical-align: middle;
	width: 49px;
	height: 24px;
	text-align: center;
}
DIV A.n
{
	padding-right: 2px;
	display: block;
	padding-left: 2px;
	padding-bottom: 2px;
	color: #000000;
	line-height: 16px;
	padding-top: 2px;
	height: 16px;
	text-decoration: none;
}
DIV A.n:hover
{
	background: #e5e5e5;
}
.ico
{
	vertical-align: middle;
	width: 24px;
	height: 24px;
	text-align: center;
}
.ico2
{
	vertical-align: middle;
	width: 27px;
	height: 24px;
	text-align: center;
}
.ico3
{
	vertical-align: middle;
	width: 25px;
	height: 24px;
	text-align: center;
}
.ico4
{
	vertical-align: middle;
	width: 8px;
	height: 24px;
	text-align: center;
}
BODY
{
	margin: 0px;
}
