<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
		<section name="indexusNetSharedCache" type="SharedCache.WinServiceCommon.Configuration.Client.IndexusProviderSection, SharedCache.WinServiceCommon"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SharedCache.Notify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<!--Version Number, same like in assemblies-->
		<add key="SharedCacheVersionNumber" value="3.0.5.1"/>
		<!--Should information be logged-->
		<add key="LoggingEnable" value="1"/>
		<!--Location of Cache Service-->
		<add key="ServiceCacheIpAddress" value="127.0.0.1"/>
		<!--Location of Cache Service, the port number-->
		<add key="ServiceCacheIpPort" value="48888"/>
		<!--
			The URL to receive newest version number: http://sharedcache.indeXus.Net
			on localhost its defined fix for port: 6652
		-->
		<add key="VersionUrl" value="http://sharedcache.indexus.net/Version.asmx"/>
	</appSettings>
	<indexusNetSharedCache defaultProvider="IndexusSharedCacheProvider">
		<clientSetting SharedCacheVersionNumber="3.0.5.1" LoggingEnable="1" CompressionEnabled="0" CompressionMinSize="1024000" SocketPoolMinAvailableSize="5" HashingAlgorithm="Hashing" SocketPoolValidationInterval="00:02:00" SocketPoolTimeout="00:02:00"/>
		<!--
			Hashing (default - is useless if your envrionment is using different versions of CLR's)
			Ketama
			FvnHash32
			FvnHash64
		-->
		<servers>
			<add key="localhost" ipaddress="127.0.0.1" port="48888"/>
			<!--<add key="srvzh02"		ipaddress="192.168.212.50" port="48888"/>-->
		</servers>
		<providers>
			<add name="IndexusSharedCacheProvider" type="SharedCache.WinServiceCommon.Provider.Cache.IndexusSharedCacheProvider, SharedCache.WinServiceCommon">
			</add>
		</providers>
	</indexusNetSharedCache>
	<nlog autoReload="true" throwExceptions="true">
		<targets async="true">
			<target name="shared_cache_general" type="File" layout="${longdate}|${level:uppercase=true}|${aspnet-request:item=logSession}|${message}" filename="C:\temp\logs\notify\${date:format=yyyy-MM-dd}_shared_cache_general_log.txt"/>
			<target name="shared_cache_traffic" type="File" layout="${longdate}|${level:uppercase=true}|${aspnet-request:item=logSession}|${message}" filename="C:\temp\logs\notify\${date:format=yyyy-MM-dd}_shared_cache_traffic_log.txt"/>
			<target name="shared_cache_tracking" type="File" layout="${longdate}|${level:uppercase=true}|${aspnet-request:item=logSession}|${message}" filename="C:\temp\logs\notify\${date:format=yyyy-MM-dd}_shared_cache_tracking_log.txt"/>
			<target name="shared_cache_sync" type="File" layout="${longdate}|${level:uppercase=true}|${aspnet-request:item=logSession}|${message}" filename="C:\temp\logs\notify\${date:format=yyyy-MM-dd}_shared_cache_sync_log.txt"/>
		</targets>
		<rules>
			<logger name="General" minlevel="Debug" writeTo="shared_cache_general" final="true"/>
			<logger name="Traffic" minlevel="Debug" writeTo="shared_cache_traffic" final="true"/>
			<logger name="Tracking" minlevel="Debug" writeTo="shared_cache_tracking" final="true"/>
			<logger name="Sync" minlevel="Debug" writeTo="shared_cache_sync" final="true"/>
			<logger name="*" minlevel="Debug" writeTo="shared_cache_general"/>
			<logger name="*" minlevel="Info" writeTo="shared_cache_general"/>
		</rules>
	</nlog>
	<applicationSettings>
		<SharedCache.Notify.Properties.Settings>
			<!-- DO NOT MODIFY THIS DATA HERE -->
			<setting name="MergeSystem_Indexus_Notify_version_Version" serializeAs="String">
				<value>http://localhost:6652/Version.asmx</value>
			</setting>
		</SharedCache.Notify.Properties.Settings>
	</applicationSettings>
	<startup>
	</startup>
</configuration>
