<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="mysoft.framework">
      <section name="castleFactory" type="MySoft.IoC.Configuration.CastleFactoryConfigurationHandler, MySoft.IoC"/>
    </sectionGroup>
    <!--<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>-->
  </configSections>

  <!--<castle>
		<components>
			-->
  <!--You can use standard castle component decleration schema to define service interface impls here-->
  <!--
			-->
  <!--<component id="sample service" service="ServiceInterfaces.ISampleService, ServiceInterfaces" type="ServiceImpls.SampleServiceImpl, ServiceImpls"/>-->
  <!--
			<component id="service" service="MySoft.IoC.Dll.IUserService, MySoft.IoC.Dll" type="MySoft.IoC.Dll.UserService, MySoft.IoC.Dll"  />
		</components>
	</castle>-->

  <mysoft.framework>
    <castleFactory type="localremote" default="default" appname="监控客户端">
      <serverNode key="default" ip="127.0.0.1" port="9982" compress="false" />
    </castleFactory>
  </mysoft.framework>

  <appSettings>
    <!--<add key="ServerMonitorUrl" value="http://monitor.fund123.cn/server.aspx" />
    <add key="ServerWebAPIUrl" value="http://webapi.fund123.cn/help" />
    <add key="ServerOpenAPIUrl" value="http://openapi.fund123.cn/help" />-->
    <add key="ReceivedEmail" value="maoyong@fund123.cn"/>
  </appSettings>

</configuration>
