<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="mysoft.framework">
      <section name="installer" type="MySoft.Installer.Configuration.InstallerConfigurationHandler, MySoft.Core"/>
    </sectionGroup>
  </configSections>

  <mysoft.framework>
    <installer>
      <servicePath>WindowsService1.exe</servicePath>
      <serviceName>MySoft.PlatformService.WindowsService1</serviceName>
      <displayName>MySoft PlatformService WindowsService1</displayName>
      <description>MySoft高性能分布式业务服务组件</description>
    </installer>
  </mysoft.framework>

</configuration>
