<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
		<sectionGroup name="mysoft.framework">
			<section name="castleService" type="MySoft.IoC.Configuration.CastleServiceConfigurationHandler, MySoft.IoC"/>
		</sectionGroup>
	</configSections>
	<castle>
		<components>
			<!--You can use standard castle component decleration schema to define service interface impls here-->
			<!--<component id="sample service" service="ServiceInterfaces.ISampleService, ServiceInterfaces" type="ServiceImpls.SampleServiceImpl, ServiceImpls"/>-->
			<component id="service" service="MySoft.PlatformService.UserService.IUserService, MySoft.PlatformService.UserService" type="MySoft.PlatformService.UserService.UserService, MySoft.PlatformService.UserService"/>
		</components>
	</castle>
	<mysoft.framework>
		<castleService host="any" port="9982" maxconnect="10000" maxbuffer="1024" logtime="1" records="3600"/>
	</mysoft.framework>
	<connectionStrings>
		<!--
		<add name="TestAccessDb" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=C:\Teddy\MySoft\skeleton\EnterpriseSample\Core\website\App_Data\TestAccessDb.mdb" providerName="MySoft.Data.MsAccess.AccessDbProvider"/>
		<add name="Northwind" connectionString="Server=(local);Database=Northwind;Uid=sa;Pwd=sa" providerName="MySoft.Data.SqlServer.SqlDbProvider"/>
    -->
	</connectionStrings>
</configuration>
