<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!--You can use standard castle component decleration schema to define service interface impls here-->
    <!--<component id="sample service" service="ServiceInterfaces.ISampleService, ServiceInterfaces" type="ServiceImpls.SampleServiceImpl, ServiceImpls"/>-->
    <component id="service" service="MySoft.PlatformService.UserService.IUserService, MySoft.PlatformService.UserService" type="MySoft.PlatformService.UserService.UserService, MySoft.PlatformService.UserService" lifestyle="transient" />
    <!---->
  </components>
</configuration>