<?xml version="1.0"?>
<configuration>

  <configSections>

    <sectionGroup name="mysoft.framework">
      <section name="castleFactory" type="MySoft.IoC.Configuration.CastleFactoryConfigurationHandler, MySoft.IoC"/>
      <section name="auth" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
      <section name="restful" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    </sectionGroup>
  </configSections>

  <mysoft.framework>
    <restful>
      <components>
        <!-- type="MySoft.PlatformService.UserService.UserService, MySoft.PlatformService.UserService" -->
        <!--<component id="service" type="MySoft.PlatformService.UserService.IUserService, MySoft.PlatformService.UserService" />-->
        <component id="UserService" service="MySoft.RESTful.Demo.IUserService, MySoft.RESTful.Demo" type="MySoft.RESTful.Demo.UserService, MySoft.RESTful.Demo"/>
      </components>
    </restful>

    <castleFactory type="localremote" default="fund" appname="测试应用程序" throwerror="true">
      <node key="fund" ip="127.0.0.1" port="9982" maxpool="100"/>
    </castleFactory>
  </mysoft.framework>

  <appSettings>

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
  </system.webServer>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->
        <standardEndpoint name="" helpEnabled="false" automaticFormatSelectionEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>

</configuration>
