<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
		<sectionGroup name="mysoft.framework">
			<section name="restful" type="MySoft.RESTful.Configuration.RESTfulConfigurationHandler, MySoft.Core"/>
		</sectionGroup>
	</configSections>
	<castle>
		<components>
			<component id="UserService" service="MySoft.RESTful.Demo.IUserService, MySoft.RESTful.Demo" type="MySoft.RESTful.Demo.UserService, MySoft.RESTful.Demo"/>
		</components>
	</castle>

	<mysoft.framework>
		<restful>
			<auths>
				<auth name="default" type="MySoft.RESTful.OAuth.RESTfulOAuth, MySoft.RESTful.OAuth"/>
			</auths>
		</restful>
	</mysoft.framework>

	<appSettings>

	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</modules>
	</system.webServer>

	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
		<standardEndpoints>
			<webHttpEndpoint>
				<!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->
				<standardEndpoint name="" helpEnabled="false" automaticFormatSelectionEnabled="true"/>
			</webHttpEndpoint>
		</standardEndpoints>
	</system.serviceModel>

</configuration>
