<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="mysoft.framework">
      <section name="castleFactory" type="MySoft.IoC.Configuration.CastleFactoryConfigurationHandler, MySoft.IoC" />
    </sectionGroup>
    <!--<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>-->
  </configSections>

  <!--<castle>
		<components>
			-->
  <!--You can use standard castle component decleration schema to define service interface impls here-->
  <!--
			-->
  <!--<component id="sample service" service="ServiceInterfaces.ISampleService, ServiceInterfaces" type="ServiceImpls.SampleServiceImpl, ServiceImpls"/>-->
  <!--
			<component id="service" service="MySoft.IoC.Dll.IUserService, MySoft.IoC.Dll" type="MySoft.IoC.Dll.UserService, MySoft.IoC.Dll"  />
		</components>
	</castle>-->

  <mysoft.framework>
    <castleFactory type="localremote" default="fund" appname="测试应用程序" logtime="1" timeout="60" cachetime="10" throwerror="true">
      <node key="fund" ip="127.0.0.1" port="9982" maxpool="100"/>
      <node key="default" ip="192.168.1.70" port="9982" maxpool="100"/>
    </castleFactory>
  </mysoft.framework>

  <appSettings>
    <add key="ServerMonitorUrl" value="http://fa.fund123.cn/performancemonitor/server.aspx" />
  </appSettings>

</configuration>